<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
    <ul class="nav bs-docs-sidenav">
        <li ng-repeat="menu in menuItems" ui-sref-active="active" >
            <a ui-sref="home.detail({repId:menu.url})" ng-click="menu.active=true" >{{menu.name}}</a>
            <ul class="nav">
                <li ng-repeat="subMenu in menu.menus"  >
                    <a ui-sref="home.detail({repId:subMenu.url})">{{subMenu.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
